
    <mdb-card style="margin-top:3%">
        <mdb-card-body>
            <div class="search-section">
                <div class ="heading" style="color:blue;font-weight: bold;">
                <p>SEARCH SECTION</p>
                </div>
                
                <div class="btn-group" mdbDropdown>
                    <a mdbDropdownToggle type="button" mdbBtn color="blue-grey" class="dropdown-toggle waves-light"
                      mdbWavesEffect>
                      Select Filter Values
                    </a>
                  
                    <div class="dropdown-menu dropdown-primary">
                     
                    </div>
                  </div>
                
                  <div class="input">
                    <input type="text"  class="form-control" placeholder="Text Input" formControlName="input" >
                  </div>
            
                  <div class="search-button">
                    <button mdbBtn type="button" color="indigo" size="sm" mdbWavesEffect>Search</button>
                  </div>
                </div>
  
        </mdb-card-body>
      </mdb-card>

    