.input{
    width:25%;
    display: inline-flex;
    margin-right:1.5em;
    margin-left:1%;

}
.search-button{
    display: inline-flex;
    margin-right:1.5em;
    
}
button{
    border-radius: 40px;
}